{% extends "layout.html" %}

{% block container %}
{% import "_macros.html" as macros %}

<form action="" method="POST" novalidate class="max-w-sm mx-auto">
  {{ form.csrf_token }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="mb-5">
    {{ macros.camposNuevos(form.nombre, class="bg-neutral-secondary-medium border border-default-medium text-heading
    text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body")
    }}
  </div>
  <div class="mb-5">
    {{ macros.camposNuevos(form.descripcion, class="bg-neutral-secondary-medium border border-default-medium text-heading
    text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body")
    }}
  </div>
  <div class="mb-5">
    {{ macros.render_select(form.maestro_id,maestros) }}
  </div>
  <button type="submit"
    class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong p-5 focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none inline-flex items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
    </svg>
    <span class="w-full">Guardar</span>
  </button>
  <a href="/cursos"
    class="inline-flex items-center text-white justify-center p-5 text-base font-medium border border-transparent hover:border-transparent-medium text-body rounded-base bg-danger hover:bg-danger-strong px-4 py-2.5">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <span class="w-full">Cancelar</span>
  </a>
</form>

{% endblock %}